<head>
<style>
body-home {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
 
.bg-image {
background-image: url("../Images/home-interior-background-for-video-conferencing-vector-34878946.jpg");
background-color: #cccccc;
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
 

</style>
</head>
<body class="bg-image">

 

</body>